// :root{
// --primary-color:white;
// --secondary-color:#1a1f22;   
// }

$main-color: #25b3d3;
$primary-color:white;
$secondary-color:#1a1f22;

.dark_mode{
    $primary-color:black;
    $secondary-color:white;
}


// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 600px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
// );

// $spacer: 1rem;
