// @import "base";
@import "variables";
@import "navbar";
@import "projects";
@import "about";
@import "contact";
@import "bootstrap";


@import "../../node_modules/bootstrap/scss/bootstrap";

// Write your sass code here or import partials

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans&display=swap');


@mixin phone {
  @media only screen and (max-width:768px) {
    @content;
  }
}


body{
  font-family: 'Montserrat', sans-serif;
  color: $primary-color;
  background-color: $secondary-color;
  overflow-x: hidden;

  
  
  h1{
    font-size: 5rem;
    color: transparent;
    -webkit-text-stroke: 0.15rem $main-color;
    &:hover{
      color: $main-color;
      -webkit-text-stroke: 0;
    }
  }

  h2{
    font-size: 3.5rem;
    color: transparent;
    -webkit-text-stroke: 0.15rem $main-color;
    }
    p{
    // /* text-align: justify; */
    text-align: flex-start;
    width: 70%;
    margin: 1rem 0;
  }

  h3{
    color:$main-color;  
  }

  li{ 
    list-style-type: none;
  }
}





// animated text section----------------------------------------
.animated-text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  @include phone {
    h2{

      font-size: 2.5rem;
    }
  }

  h2 {
    text-align: center;
    transform: scale(0.82);
    animation: scale 5s forwards cubic-bezier(.9, 1, 0.09, 3);
    span {
      display: inline-block;
      opacity: 0;
      filter: blur(4px);
    }
  }
   
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.61, 0, 0.5, 0);}
  
  span:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.61, 0, 0.5, 0);
  }

  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
}



// ------------toggle-section
.toggle-container{
  height: min-content;
  width: 50%;
  display: flex;
  padding: .31rem;
  gap: 10px;
}


input {
  display: block;
	margin-bottom: 1.5em;
  font-size: 2em;
  line-height: 1.5;
}


.toggle {
	background-color: $main-color;
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
	color: #fdea7b;
	display: inline-flex;
	align-items: center;
	margin: auto;
	padding: 0.15em;
	width: 3em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    
}
.toggle:before, .toggle:after {
	content: "";
	display: block;
}
.toggle:before {
	background-color: #d7d7d7;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	z-index: 1;
}
.toggle:after {
	background:
	linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
	repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
	radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
}
/* Checked */
.toggle:checked {
	background-color: rgba(0,0,0,0.45);
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
    
}
.toggle:checked:before {
	background-color: currentColor;
	transform: translateX(125%)
}
.toggle:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
}
/* Other States */
.toggle:focus {
	/* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
	outline: 0;
}
// ---------------------------------- 



//* footer section------------------------------------------- 
footer{
  height: 3.125rem;
  background-color: $main-color;
  margin-top: 3.125rem;
  
  p{
    // text-align: left;
    margin-left: 45%;
    padding: 0.6rem;
    
    a{
      text-decoration: none;
      color: inherit;
      
      &:hover{
        // background-color: var(--black);
      }
    }
  } 
  @include phone {
    background: transparent;

    p{
      position: relative;
      bottom: 0;
      left: -10%;
      right: 0;
    } 
}

}

// back-to-top Button section-------------
.back-to-top{
  display: none;

  @include phone {
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    background-color: $main-color;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $primary-color;
    text-decoration: none;
    box-shadow: 0rem 0rem 0.625rem 0rem $main-color;
    z-index: 1;
  }
}

// the ENDS ;)